.form
{
    margin: 20px;
    padding: 10px 20px;
}

.form ol
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.form li, .form p
{
    padding: 6px;
    margin-bottom: 1px;
}

.form label
{
    float: left;
    width: 120px;
    text-align: right;
    margin-right: 7px;
    line-height: 30px; /* This will make the labels vertically centered with the inputs */
}

.form input, .form textarea, .form select
{
    padding: 4px;
    border: 1px solid #999999;
    width: 200px;
}

.form input:focus, .form textarea:focus
{
    border: 1px solid #666;
    background: #e3f1f1;
}


.form input.submit
{
    margin-top: 6px;
    width: 150px;
}

#authParticipantsList, #enrollNewParticipant
{
    display:inline-block;
    vertical-align:text-top;
}