<?xml version="1.0"?>
<!-- Note: As an alternative to manually editing this file you can use the web admin tool to
     configure settings for your application. Use the Website->ASP.NET Configuration option 
     in Visual Studio.
     A full list of settings and comments can be found in machine.config.comments usually
     located in \Windows\Microsoft.NET\Framework\v2.0.xxxxx\Config
 -->
<configuration>
	<configSections>
		<section name="appSettingsUser" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="true" requirePermission="false"/>
	</configSections>
	<appSettingsUser>
		<add key="SpewUnhandledExceptions" value="true"/>
		<add key="WCPage_SSLForSecure" value="false"/>
	</appSettingsUser>
	<appSettings>
		<add key="ApplicationId" value="21e04acf-b27d-4a23-b7a2-69ffb10e5655"/>
		<add key="ShellUrl" value="https://account.healthvault-ppe.com/"/>
		<add key="HealthServiceUrl" value="https://platform.healthvault-ppe.com/platform/"/>
		<add key="ApplicationCertificateFileName" value="C:\Users\Sam\Documents\Visual Studio 2010\Projects\PatientConnectTest\cert\WildcatApp-21e04acf-b27d-4a23-b7a2-69ffb10e5655.pfx"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging symbols into the compiled page.
            Because this affects performance, set this value to true only during development.
        -->
		<compilation debug="true" targetFramework="4.0"/>
		<sessionState mode="InProc"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- For running inside networks that use proxy servers (for security) you will need to explicitly specify the proxy address
       in the XML section below.
       The example settings below show how to configure the sample for running inside Microsoft's corporate network.
       Your network settings are likely to be similar (but with a different proxy address)
   
    <system.net>
      <defaultProxy enabled="true">
      </defaultProxy>
    </system.net>
  -->
</configuration>
