<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="pcp" />
        </authorization>
    </system.web>
  <appSettings>
    <add key="ApplicationId" value="21e04acf-b27d-4a23-b7a2-69ffb10e5655"/>
    <add key="ShellUrl" value="https://account.healthvault-ppe.com/"/>
    <add key="HealthServiceUrl" value="https://platform.healthvault-ppe.com/platform/"/>
    <add key="ApplicationCertificateUrl" value="https://github.com/samuelbritt/6440-hit/blob/master/src/PatientConnect/cert/WildcatApp-21e04acf-b27d-4a23-b7a2-69ffb10e5655.pfx?raw=true"/>
  </appSettings>  
</configuration>