#container
{
    width: 640px;
    margin: 10px auto 0;
}

#loginControl
{
    float: right;
    text-align: right;
}

.form
{
    padding: 0;
    margin: 0;
}

.form.half
{
    width: 49%;
}

.form.third
{
    width: 32%;
}

.form.quarter
{
    width: 24%;
}

.form.right
{
    float: right;
    margin-left:10px;
}

.form.left
{
    float: left;
    margin-right:10px;
}

.form.expand
{
    float:none;
    width:auto;
    overflow:auto;
}

.form ol
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.form .header
{
    font-weight: bold;
    background-color: #EEE;
    padding: 6px;
}

.form li
{
    padding: 6px 0;
    margin-bottom: 1px;
}

.form label
{
    float: left;
    text-align: right;
    margin-right: 7px;
}

.form label, .form span
{
    width: 40%;
    padding: 6px 0;
}

.form input, .form textarea, .form select
{
    width: 50%;
    padding: 4px;
    border: 1px solid #999999;
}

.form .full
{
    width: 100%;
}

.form input:focus, .form textarea:focus
{
    border: 1px solid #666;
    background: #e3f1f1;
}

.form input.buttons
{
    margin-top: 6px;
    padding: 2px 6px;
    width: auto;
}

.error-message
{
    color: Red;
}
